.block-info {
  background-color: #4891d3;
  height: 100vh;
  min-height: 1100px;
  position: relative;
  background-image: url("../img/waves/wave1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.block-info__wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &::after {
    content: "";
    width: 118px;
    height: 101px;
    top: 630px;
    right: 10px;
    position: absolute;
    background-image: url("../img/straws/straw1.svg");
    animation: trashAnimation linear 6s infinite;
  }

  &::before {
    content: "";
    width: 133px;
    height: 109px;
    top: 955px;
    left: 10px;
    position: absolute;
    background-image: url("../img/straws/straw2.svg");
    animation: trashAnimation linear 6s infinite;
  }
}

.block-info__title {
  @include title-mobile;
  margin: 0;
  position: relative;

  &::after {
    content: "";
    width: 87px;
    height: 120px;
    top: 973px;
    right: 10px;
    position: absolute;
    background-image: url("../img/straws/straw3.svg");
    animation: trashAnimation linear 6s infinite;
  }
}

.block-info__text {
  @include text-mobile;
  text-align: left;
  position: relative;

  &::after {
    content: "";
    width: 204px;
    height: 217px;
    top: 578px;
    left: 50%;
    transform: translate(-60%, -15%);
    position: absolute;
    background-image: url("../img/block-info/fish-mobile.svg");
  }

  &::before {
    content: "";
    width: 138px;
    height: 89px;
    top: 425px;
    left: 10px;
    position: absolute;
    background-image: url("../img/straws/straw4.svg");
    animation: trashAnimation linear 6s infinite;
  }
}

.block-info__paragraph {
  display: block;
  margin-bottom: 20px;
}

.block-info__important-text {
  font-weight: bold;
}


@media (min-width: 420px) {
  .block-info__title {
    padding-top: 135px;
  }
}

@media (min-width: $tablet-width) {
  .block-info__wrapper {
    width: 768px;
  }

  .block-info__title {
    @include title-tablet;
    margin-bottom: 55px;
    padding-top: 210px;

    &::before {
      content: "";
      width: 78px;
      height: 116px;
      top: 658px;
      right: 338px;
      position: absolute;
      background-image: url("../img/straws/straw5.svg");
      animation: trashAnimation linear 6s infinite;
    }
  }

  .block-info__text {
    @include text;

    &::after {
      transform: translate(-50%, -25%);
    }
  }
}

@media (min-width: $desktop-width) {
  .block-info__wrapper {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &::before {
      left: 256px;
    }

    &::after {
      right: 300px;
    }
  }

  .block-info__title {
    padding-top: 335px;

    &::after {
      right: -172px;
    }
  }

  .block-info__text {
    &::after {
      transform: translate(-63%, -85%);
    }

    &::before {
      top: 347px;
      left: 108px;
    }
  }
}
