.block-offer {
  background-color: #365f8c;
  position: relative;
  background-image: url("../img/waves/wave3.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.block-offer__wrapper {
  width: 320px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-offer__title {
  @include title-mobile;
  margin: 0;
  margin-bottom: 60px;
}

.block-offer__text-soon {
  @include text-mobile;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.block-offer__image {
  margin-bottom: 60px;
}

@media (min-width: 420px) {
  .block-offer__title {
    padding-top: 135px;
  }
}

@media (min-width: $tablet-width) {
  .block-offer__wrapper {
    width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .block-offer__title {
    @include title-tablet;
    padding-top: 210px;
  }

  .block-offer__text-soon {
    @include text;
    padding-bottom: 90px;

    &::after {
      background-image: url("../img/waves-tablet.svg");
      width: 755px;
      height: 100px;
      top: 650px;
    }
  }
}


@media (min-width: $desktop-width) {
  .block-offer__wrapper {
    width: 1200px;
    position: relative;
    min-height: 900px;
    align-items: flex-start;
  }

  .block-offer__title {
    padding-top: 445px;
  }

  .block-offer__image {
    position: absolute;
    right: 0;
    top: 411px;
  }
}
