.block-image {
  background-color: #2d72bc;
  min-height: 620px;
  position: relative;
  background-image: url("../img/waves/wave2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.block-image__title {
  @include title-mobile;
  margin: 0;
  margin-bottom: 60px;
}

.block-image__wrapper {
  width: 320px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

@media (min-width: 420px) {
  .block-image__title {
    padding-top: 135px;
  }
}

@media (min-width: $tablet-width) {
  .block-image {
    height: 800px;
  }

  .block-image__title {
    @include title-tablet;
    padding-top: 210px;
  }

  .block-image__wrapper {
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::after {
      background-image: url("../img/seaweed1-tablet.svg");
      width: 415px;
      height: 312px;
      left: -15px;
    }

    &::before {
      background-image: url("../img/seaweed2-tablet.svg");
      width: 352px;
      height: 333px;
      right: -15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .block-image__wrapper {
    width: 1200px;
  }

  .block-image {
    min-height: 1170px;
  }

  .block-image__title {
    padding-top: 335px;
  }
}
